@import 'common/globalVariables.scss';

.link {
  display: block;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  color: inherit;
  text-decoration: none;
  &::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    background: $theme__lightblue;
    transition: all 0.2s ease-in-out;
  }
  &:hover::after {
    width: 90%;
  }
  &.link__inline {
    display: inline;
  }
}
